.left-side-bar
{
    width: 25%;
    margin-right: 10px;
    height: 100vh;
}
.content-area
{
    width: 74%;
    background-color: lightgray;
}
.header
{
    height: 20vh;
    background-color: lightblue;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.top-nav
{
    background-color: lightpink;
    height: 6vh;
    margin-top:10px ;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}